*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fddd33;
    flex-wrap: wrap;
}
.container{
    position: relative;
    width: 2000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    max-width: 200px;
    height: 310px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}
.imgBx h3 {
    text-align: center;
}
.container .card:hover{
    height: 380px;
}

.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -70px;
    padding: 25px;
    text-align: center;
    color: #000000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -20px;
    transition-delay: 0.3s;
}
.music{
    position: relative;
    width: 1333px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
audio{
    width: 200px;
}

